.bill__weather{
  max-width: 375px;
  min-height: 380px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px 10px 0px;
  background-color: #f1f1f1;
  color: #212121;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  text-align: center;
  position: relative;
}

.bill__weather-loader_container{
  background-color: #f1f1f1;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease-out, opacity 0.4s ease-out;
}
.bill__weather-loader_container.active{
  visibility: visible;
  opacity: 1;
}

.bill__weather-city_name{
  font-family: Lato, sans-serif;
  font-size: 50px;
  color: #333;
}
.bill__weather-country_name{
  font-size: 24px;
  margin-bottom: 45px;
  color: #606060;
}
.bill__weather-temperature{
  font-family: Lato, sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #212121;
}
.bill__weather-info_icon-container_img{
  display: block;
  margin: 0 auto;
  height: 120px;
  width: 120px;
  object-fit: cover;

}

.bill_weather-error_container-info{
  margin-bottom: 20px;
}
